body {
    margin: 0;
}

form {
    margin-left: 1em;
}

.item {
    border: 1px solid red;
    border-radius: 12px;
    margin: 1em;
    max-width: 150px;
    padding: 1em;
}

p {
    margin: 0;
}

label{
    display: block;
    margin-top: 0.8em
}

button{
    display: block;
    margin: 1em 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: pink;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.urgents{
    border: 1px solid blue;
    border-radius: 12px;
    margin: 1em;
    max-width: 150px;
    padding: 1em;
}

h1 {
    background-color: #444444;
    color: #fff;
    margin: 0;
    padding: 0.2em;
}
