.item {
    border: 1px solid red;
    margin: 1em;
    max-width: 150px;
    padding: 1em;
}

label{
    display: block;
    margin-top: 0.8em
}

button{
    display: block;
    margin-top: 1em;
}

p {
    margin: 0;
}

.urgents{
    border: 1px solid blue;
    margin: 1em;
    max-width: 150px;
    padding: 1em;
}